/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Center whole screen */
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #a0304a, #c46060);
}

/* Main container */
.container{
    background: white;
    padding: 25px 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Form layout */
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Labels */
label{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

/* Input fields */
input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

/* Input focus effect */
input:focus{
    border-color: #b366a2;
    box-shadow: 0 0 5px rgba(211, 85, 102, 0.5);
}

/* Button */
button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ef71ac;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #d1ff29;
    transform: scale(1.03);
}


button:active{
    transform: scale(0.98);
}